.spotify-header {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 20px;
}

.spotify-input {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  background-color: transparent;
  color: white;

  &:focus {
    outline: none;
  }
}

.reload-icon {
  color: white;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
