:root {
  --main-blue-opacity: #1f2937f5;
  --hover-blue: rgb(17 24 39);
  --main-blue: rgb(31 41 55);
}

* {
  box-sizing: border-box;
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: black;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.widget-container {
  position: absolute;
  width: 25rem;
  background-color: rgba(31, 41, 55, .75);
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.pointer {
  cursor: pointer;
  transition: 0.3s ease;
}

.scale {
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.3);
  }
}

.toggle {
  right: 10px;
  top: 10px;
  position: absolute;
}

.hidden .pointer,
.hidden .scale,
.hidden .todo-container button,
.hidden .todo-item {
  transition: none;
}

.move {
  cursor: move;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
